@font-face {
  font-family: 'Graphik';
  src: local('Graphik Medium'), local('Graphik-Medium'),
      url('/fonts/Graphik-Medium.woff2') format('woff2'),
      url('/fonts/Graphik-Medium.woff') format('woff'),
      url('/fonts/Graphik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}