// colors
$white : #ffffff;
$black : #000000;
$fuchsia-blue : #7344c0;
$fiord : #42506b;
$eucalyptus : #25a95b;

$havelock-blue : #4a90e2;
$jelly-bean : #2571A9;
$mischka : #dcdee4;
$regent-gray : #8392a6;
$aqua-haze : #F6F8FA;



$border-radius: 5px;